::-webkit-scrollbar-thumb, .nicescroll-rails div {
    background-color: #00d6ac !important;
}

::selection {
    background: #51aded;
    color: #fff
}

body, .cms-bar .col-right.s4 .col-small p:before {
    color: #666666
}

body a, .bg-sitenews i.fa-volume-up, .tab-item-comment i, .tab-item-comment i:before, .catlist_1_of_2 .home-heading a, .widget_tinsitestatistic ul li span, .comment-login-pop-click, .comment-info span.cmt-vote i.voted {
    color: #888
}

.tin-tabs-nav li.active a {
    border-bottom-color: #428bca
}

.home-heading a, #sidebar #submit-mail:hover {
    background: #428bca
}

body a:hover {
    color: #51aded
}

article h3, article h3 a, .tab-item-title a, .slider-text h2 a {
    color: #000000
}

article h3 a:hover, .tab-item-title a:hover, .more-link, .slider-text h2 a:hover, .slider-newest-articles h3 a:hover {
    color: #51aded
}

.header-wrap, .pri-nav ul, .pri-nav ul ul, .pri-nav ul ul ul, .user-tabs {
    background-color: #ffffff
}

.logo-title a {
    color: #888
}

.pri-nav li > a, .pri-nav li.current-menu-item a, #focus-us, .focus-content a, .user-tabs span a, .user-tabs span i {
    color: #333333
}

.pri-nav li a:hover, .user-tabs span:hover, #focus-us:hover, #focus-us:focus, #focus-slide {
    background: #f5f5f5
}

.pri-nav li > a:hover, .pri-nav li:hover > a, .pri-nav li.focus > a, .user-tabs span:hover a, .user-tabs span:hover i, #focus-us:hover, #focus-us:focus, .user-tabs span:hover, .user-tabs span:hover i, .login-yet-click a, .login-yet-click a:hover, .focus-content a:hover, .logo-title a:hover {
    color: #51aded
}

.pri-nav ul ul, .pri-nav a:hover, .pri-nav li.current-menu-item a {
    border-bottom-color: #51aded
}

.logo a img {
    background-color: #51aded
}

#sidebar .widget > h3 span, .floatwidget h3 span, .multi-border-hl span, .tin-tabs-nav li.active a, .cms-bar .heading-text, .heading-text-blog, .cms-bar .stickys .heading-text-cms.active, span#comments.active, span#comments_quote.active, #ft-wg-sr .widget > h3 span {
    border-bottom-color: #f98181
}

.tin-tabs-nav li a:hover {
    color: #f98181
}

@media screen and (max-width: 860px) and (min-width: 641px) {
    #flexslider-right {
        background: #ffffff
    }
}

@media screen and (max-width: 480px) {
    h3, h3 a {
        font-size: 14px !important;
    }

    article p, .content, .content a, .content li, single-content, single-text, single-content a, single-text a, .sg-cp p, .widget, .widget a {
        font-size: 12px !important;
    }
}